/* Base */
@use './base/reset';
@use './base/variables' as v;

/* Layout */
@use './layout/_page-wrapper';

/* Components */
@use './components/header';
@use './components/nav-menu';
@use './components/speech-bubble';
@use './components/breadcrumb';
@use './components/calculator-card';
@use './components/info-box';
@use './components/calc-form';
@use './components/buttons';
@use './components/results';
@use './components/footer';