.button {
  color: white;
  background-color: rgb(0, 140, 255);
}

.button__style {
  color: white;
  background-color: rgb(43, 177, 230);
  padding: 0.5rem;
  margin-top: 5rem;
  border: none;
  border-radius: 5px;
}
