@use "../base/variables" as v;

.header {
  text-align: center;
  margin-bottom: v.$spacing-xl;
  padding-bottom: v.$spacing-md;
  border-bottom: 0.2rem solid v.$color-border;
  

  &__title {
    font-size: 10rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    margin-bottom: v.$spacing-sm;
    text-transform: uppercase;
    font-family: "Jersey 10", Courier, monospace;
  }

  &__title-math {
    color: v.$color-primary;
    text-shadow: 0 0 2rem rgba(0, 255, 204, 0.5);
  }

  &__title-lab {
    color: v.$color-secondary;
    text-shadow: 0 0 2rem rgba(255, 0, 110, 0.5);
  }

  &__subtitle {
    font-size: 1.4rem;
    color: v.$color-text-secondary;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}

/* Mobile */
@media (max-width: 414px) {
  .header {
    &__title {
      font-size: 3.2rem;
      letter-spacing: 0.2rem;
    }
    &__subtitle {
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 414px) and (max-width: 600px) {
  .header {
    &__title {
      font-size: 4rem;
    }
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .header {
    &__title {
      font-size: 6.4rem;
    }
    &__subtitle {
      font-size: 1.8rem;
    }
  }
}
